<div class="row">
  <div class="col-4">
    <form [formGroup]="updatePost" (ngSubmit)="onSubmitUpdateForm()">
      <div class="form-group">
        <label for="formGroupExampleInput">Ttile</label>
        <input
          formControlName="title"
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Example input"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Description</label>
        <textarea
          formControlName="description"
          type="text"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="Another input"
          name="description"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput3">Category</label>
        <select
          formControlName="category"
          class="form-control"
          id="formGroupExampleInput3"
          name="category"
        >
          <option value="">Select A Value</option>
          <option value="1">Apple</option>
          <option value="2">Coconut</option>
          <option value="3">Mango</option>
        </select>
      </div>
      <!-- <div class="form-group">
        <label for="formGroupExampleInput5">File</label>
        <input
          type="file"
          class="form-control"
          id="formGroupExampleInput5"
          placeholder="Another input"
        />
      </div> -->

      <div class="form-group">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
</div>
